@import '../../styles/global.scss';

.homeContainer {
  display: flex;
  flex-direction: column;

  height: 100vh;

  align-items: center;
  justify-content: center;

  background-image: url('../../assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;

  p {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 5rem;
  }

  h1 {
    font-size: 5rem;
    letter-spacing: 0.50rem;
    text-transform: uppercase;
    font-family: 'Noto Sans JP', sans-serif;
    color: $white;
  }

  strong {
    font-size: 2rem;
    font-weight: 100;
  }

  span {
    font-size: 1.25rem;
    line-height: 2rem;
    color: $gray-400;
  }

  svg {
    justify-self: flex-end;
    margin-top: 1rem;
    animation: scroll-icon 1s infinite ease-in alternate;
  }

  @keyframes scroll-icon {
    to {
      transform: translateY(1rem);
    }
  }
}